@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);
/*
Ce fichier est la propriété de Luxembourg Online.
Auteur: Quentin Fonck
*/
/* 
    Created on : 13 mars 2015, 22:04:33
*/
.text-justCentered {
  text-align: justify;
  margin: 0 auto;
  text-align-last: center;
  -moz-text-align-last: center;
}
.grayFilter {
  filter: gray;
  -webkit-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}
.disableFilter {
  filter: none;
  /* Applies to FF + IE */
  -webkit-filter: grayscale(0);
}
.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.parent-element {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* Gobal variiables*/
body,
html {
  margin: 0;
  padding: 0;
}
footer,
header {
  background-color: #00529c;
  z-index: 5;
}
header {
  height: 66px;
}
header .row {
  height: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
  text-decoration: none;
}
a:focus {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
ul > li {
  display: inline;
  margin-right: 35px;
}
.navigation {
  display: inline-block;
  position: relative;
  top: 35%;
  float: right;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}
.navigation > ul {
  margin: 0;
}
.navigation span {
  position: relative;
  bottom: 2px;
}
#drop {
  float: right;
  position: relative;
  bottom: 5px;
}
#drop:hover {
  opacity: 1.0;
}
#dropdown {
  position: relative;
  top: 42px;
  z-index: 10;
  width: 100%;
  background-color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d0d0d0));
  background: -webkit-linear-gradient(top, #ffffff, #d0d0d0);
  background: -moz-linear-gradient(top, #ffffff, #d0d0d0);
  background: -ms-linear-gradient(top, #ffffff, #d0d0d0);
  background: -o-linear-gradient(top, #ffffff, #d0d0d0);
  list-style-type: none;
  min-height: 30px;
}
#dropdown > li > a {
  position: relative;
  bottom: 10px;
}
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
footer.contenue {
  position: initial;
}
footer ul {
  padding: 0;
  margin: 0;
}
footer ul li {
  margin-right: 10px;
}
footer ul li a.link {
  font-size: 14px;
}
footer ul li a.link.active {
  border-bottom: 1px solid #ffffff;
  -webkit-opacity: 1 !important;
  -moz-opacity: 1 !important;
  opacity: 1 !important;
}
footer ul li a.link.gras {
  -webkit-opacity: 1 !important;
  -moz-opacity: 1 !important;
  opacity: 1 !important;
  font-weight: 600 !important;
}
.semi-opac {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.logo {
  display: inline-block;
  float: left;
}
.logo.petit {
  width: 160px;
  height: 41px;
}
.logo.grand {
  width: 274px;
  height: 62px;
}
.logo img {
  width: 100%;
  height: auto;
}
.heading2 {
  line-height: 32px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: #00529c;
}
.heading2 span.light {
  font-weight: 300;
}
@media (max-width: 767px) {
  .heading2 {
    text-align: center;
  }
}
.button {
  width: 150px;
  height: 31px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
}
.button.primary {
  border: 1px solid #03417a;
  background-color: #00529c;
  background: -webkit-gradient(linear, left top, left bottom, from(#00529c), to(#03417a));
  background: -webkit-linear-gradient(top, #00529c, #03417a);
  background: -moz-linear-gradient(top, #00529c, #03417a);
  background: -ms-linear-gradient(top, #00529c, #03417a);
  background: -o-linear-gradient(top, #00529c, #03417a);
}
@media (max-width: 767px) {
  .button.primary {
    margin-bottom: 10px;
  }
}
.button.primary:active {
  -webkit-box-shadow: inset 0 2px 10px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 2px 10px 0 rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 2px 10px 0 rgba(0, 0, 0, 0.4);
}
.button.default {
  color: #555555;
  border: 1px solid #d0d0d0;
  background-color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d0d0d0));
  background: -webkit-linear-gradient(top, #ffffff, #d0d0d0);
  background: -moz-linear-gradient(top, #ffffff, #d0d0d0);
  background: -ms-linear-gradient(top, #ffffff, #d0d0d0);
  background: -o-linear-gradient(top, #ffffff, #d0d0d0);
}
@media (max-width: 767px) {
  .button.default {
    margin-top: 10px;
  }
}
.button.default:active {
  -webkit-box-shadow: inset 0 2px 10px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 2px 10px 0 rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 2px 10px 0 rgba(0, 0, 0, 0.4);
}
span.icon-fleche {
  left: 6px;
  font-size: 12px;
}
span.icon-fleche.header {
  top: 1px;
}
span.icon-fleche.plus {
  top: 2px;
  position: relative;
}
.textFooter {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #ffffff;
  display: table-cell;
  vertical-align: middle;
}
.gras {
  font-weight: 600;
}
button {
  outline: 0;
}
.shadow.top {
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
}
.shadow.down {
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
}
.titre {
  text-align: center;
  text-shadow: 0 4px 7px rgba(0, 0, 0, 0.25);
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 63%;
}
.titre h2 {
  line-height: 40px;
  width: 710px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #ffffff;
}
.titre a.link {
  font-size: 20px !important;
  margin-top: 5px;
  -webkit-opacity: 1 !important;
  -moz-opacity: 1 !important;
  opacity: 1 !important;
}
a.link {
  text-align: center;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #555555;
}
a.link:hover {
  color: black;
}
a.link.white {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  color: #ffffff;
}
a.link.white.active {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  pointer-events: none;
  cursor: default;
}
a.link.white:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
section > .row {
  margin-top: 150px;
}
@media (max-width: 767px) {
  section > .row {
    margin-top: 15px;
  }
}
#mockup {
  display: inline-block;
  float: left;
}
@media (min-width: 768px) and (max-width: 991px) {
  #mockup {
    top: 75px;
  }
}
#mockup img {
  height: auto;
}
@media (max-width: 767px) {
  #mockup img {
    width: 286px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #mockup img {
    width: 218px;
  }
}
@media (min-width: 992px) {
  #mockup img {
    width: 437px;
  }
}
@media (min-width: 768px) {
  #mockup + div {
    left: 20%;
  }
}
.button-group {
  margin-top: 25px;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .button-group {
    width: 47%;
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
  }
}
.button-group span {
  margin-left: 12px;
  margin-right: 12px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #555555;
}
@media (max-width: 767px) {
  .button-group span {
    text-align: center;
    position: relative;
    left: 55px;
  }
}
#more {
  margin-left: 28%;
}
@media (max-width: 767px) {
  #more {
    margin-left: 35%;
  }
}
nav.textFooter {
  margin-top: 14px;
  margin-bottom: 14px;
  float: right;
  text-align: right;
}
#slider {
  background: url(../img/Homepage/Slider_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-y: -10px;
  height: 450px;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#slider h2 span {
  font-weight: 300;
}
#background {
  height: 1250px;
  background: url(../img/Homepage/LOL_Cloud_Details_Homepage_960px.png);
  background-size: 1920px auto;
  background-repeat: no-repeat;
  background-position: center bottom;
}
#background .bottom {
  top: 650px;
  position: relative;
}
#background .bottom h2 {
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 26px;
  color: #ffffff;
}
#background .bottom h2 span {
  font-weight: 300;
}
#background .bottom h3 {
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
}
#background .bottom p {
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
  text-align: justify;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}
#background .top {
  text-align: center;
}
#background .top h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: #00529c;
}
#background .top p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #555555;
}
#background .top p span {
  color: #00529c;
}
#background .middle {
  top: 40px;
  position: relative;
}
#background .middle h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: #00529c;
}
#background .middle p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #555555;
  text-align: justify;
}
@media (min-width: 992px) {
  #background .middle p {
    width: 80%;
  }
}
#background .middle p span {
  color: #00529c;
}
#background .middle .link {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #00529c;
}
#background .middle .link span {
  position: relative;
  bottom: -2px;
  left: 10px;
}
#background .image {
  text-align: right;
  padding-top: 7%;
  float: right;
  right: 0%;
}
/*# sourceMappingURL=styles.css.map */