@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);
/*
Ce fichier est la propriété de Luxembourg Online.
Auteur: Quentin Fonck
*/
/* 
    Created on : 13 mars 2015, 22:04:33
*/
.text-justCentered {
  text-align: justify;
  margin: 0 auto;
  text-align-last: center;
  -moz-text-align-last: center;
}
.grayFilter {
  filter: gray;
  -webkit-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}
.disableFilter {
  filter: none;
  /* Applies to FF + IE */
  -webkit-filter: grayscale(0);
}
.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.parent-element {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* Gobal variiables*/
body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
}
footer,
header {
  background-color: #00529c;
  z-index: 5;
}
header {
  height: 66px;
}
header .row {
  height: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
  text-decoration: none;
}
a:focus {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
ul > li {
  display: inline-block;
  margin-right: 35px;
}
.navigation {
  display: inline-block;
  position: relative;
  top: 22px;
  float: right;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}
.navigation a:hover {
  opacity: 1.0;
}
.navigation > ul {
  margin: 0;
}
.navigation span {
  position: relative;
  bottom: 2px;
}
.navigation #connect {
  float: right;
  padding-left: 0px;
  display: inline-block;
  text-align: right;
}
#drop {
  float: right;
  position: relative;
  top: 2px;
}
#drop:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
#drop.active {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
#dropdown {
  position: relative;
  top: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  z-index: 10;
  width: 100%;
  display: none;
  list-style-type: none;
  min-height: 30px;
  border: 1px solid #d0d0d0;
}
#dropdown.open {
  display: block;
}
#dropdown li {
  height: 49px;
  background-color: #ffffff;
  border-bottom: 1px solid #d0d0d0;
  display: block;
  margin-right: 0px;
  padding-right: 20px;
}
#dropdown li div.border-left {
  height: 100%;
  width: 100%;
  position: relative;
}
#dropdown li div.border-left a.link.bleu {
  position: absolute;
  width: 90%;
  left: 0;
  top: 20%;
  text-align: left;
  margin-left: 40px;
  font-weight: 400;
  font-size: 20px;
  -webkit-opacity: 1 !important;
  -moz-opacity: 1 !important;
  opacity: 1 !important;
}
@media (max-width: 767px) {
  #dropdown li div.border-left a.link.bleu {
    width: 80%;
  }
}
@media (max-width: 399px) {
  #dropdown li div.border-left a.link.bleu {
    width: 95% !important;
    margin-left: 15px !important;
  }
}
#dropdown li div.border-left a.link.bleu span {
  top: 4px;
  position: relative;
  float: right;
  font-size: 18px;
  font-weight: 600;
}
#dropdown li.active div.border-left {
  border-left: 6px solid #00529c;
}
#dropdown li.active div.border-left a.link.bleu {
  pointer-events: none;
  cursor: default;
}
#dropdown li.active div.border-left a.link.bleu span {
  top: 4px;
  position: relative;
  float: right;
  font-size: 18px;
  font-weight: 600;
}
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
@media (max-width: 767px) {
  footer.index {
    position: relative;
    margin-top: 25px;
  }
}
footer.contenue {
  position: initial;
}
footer ul {
  padding: 0;
  margin: 0;
}
footer ul li {
  margin-right: 10px;
}
@media (min-width: 768px) and (max-width: 991px) {
  footer ul li {
    margin-right: 3px;
  }
}
footer ul li a.link {
  font-size: 14px;
}
footer ul li a.link.active {
  border-bottom: 1px solid #ffffff;
  -webkit-opacity: 1 !important;
  -moz-opacity: 1 !important;
  opacity: 1 !important;
  pointer-events: none;
  cursor: default;
}
footer ul li a.link.gras {
  -webkit-opacity: 1 !important;
  -moz-opacity: 1 !important;
  opacity: 1 !important;
  font-weight: 600 !important;
}
.semi-opac {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.logo {
  display: inline-block;
  float: left;
}
.logo.petit {
  width: 160px;
  height: 41px;
}
.logo.grand {
  float: right;
  position: absolute;
  top: 65px;
  right: 0;
}
@media (min-width: 992px) {
  .logo.grand {
    width: 274px;
    height: 62px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .logo.grand {
    width: 194px;
    height: 44px;
    top: 94px;
  }
}
@media (max-width: 767px) {
  .logo.grand {
    width: 194px;
    height: 44px;
    clear: both;
    float: none;
    position: static;
    margin: 0 auto;
  }
}
.logo img {
  width: 100%;
  height: auto;
}
.heading2 {
  line-height: 32px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: #00529c;
}
.heading2 span.light {
  font-weight: 300;
}
@media (max-width: 767px) {
  .heading2 {
    text-align: center;
  }
}
.button {
  height: 31px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
}
.button.primary {
  border: 1px solid #03417a;
  background-color: #00529c;
  background: -webkit-gradient(linear, left top, left bottom, from(#00529c), to(#03417a));
  background: -webkit-linear-gradient(top, #00529c, #03417a);
  background: -moz-linear-gradient(top, #00529c, #03417a);
  background: -ms-linear-gradient(top, #00529c, #03417a);
  background: -o-linear-gradient(top, #00529c, #03417a);
}
@media (max-width: 767px) {
  .button.primary {
    margin-bottom: 10px;
  }
}
.button.primary:active {
  -webkit-box-shadow: inset 0 2px 10px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 2px 10px 0 rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 2px 10px 0 rgba(0, 0, 0, 0.4);
}
.button.default {
  color: #555555;
  border: 1px solid #d0d0d0;
  background-color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d0d0d0));
  background: -webkit-linear-gradient(top, #ffffff, #d0d0d0);
  background: -moz-linear-gradient(top, #ffffff, #d0d0d0);
  background: -ms-linear-gradient(top, #ffffff, #d0d0d0);
  background: -o-linear-gradient(top, #ffffff, #d0d0d0);
}
@media (max-width: 767px) {
  .button.default {
    margin-top: 10px;
  }
}
.button.default:active {
  -webkit-box-shadow: inset 0 2px 10px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 2px 10px 0 rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 2px 10px 0 rgba(0, 0, 0, 0.4);
}
span.icon-fleche {
  left: 6px;
  font-size: 12px;
}
span.icon-fleche.header {
  top: 1px;
}
span.icon-fleche.plus {
  top: 2px;
  position: relative;
}
.textFooter {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #ffffff;
  display: table-cell;
  vertical-align: middle;
}
@media (max-width: 767px) {
  .textFooter {
    text-align: center;
  }
}
.gras {
  font-weight: 600;
}
button {
  outline: 0;
}
.shadow.top {
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
}
.shadow.down {
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
}
.titre {
  text-align: center;
  text-shadow: 0 4px 7px rgba(0, 0, 0, 0.25);
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 55%;
  clear: both;
}
a.link {
  text-align: center;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #555555;
}
a.link:hover {
  color: black;
}
a.link.white {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  color: #ffffff;
}
a.link.white.solid {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  font-weight: 600;
}
a.link.white.active {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  pointer-events: none;
  cursor: default;
}
a.link.white:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
a.link.bleu {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  color: #00529c;
}
@media (max-width: 767px) {
  .dossier {
    width: 143px;
    height: auto;
  }
}
div.row.bottom .text {
  float: left;
  display: inline-block;
  width: 440px;
}
@media (min-width: 768px) and (max-width: 991px) {
  div.row.bottom .text {
    width: 400px;
  }
}
@media (max-width: 767px) {
  div.row.bottom .text {
    width: 100%;
    display: block;
    clear: both;
  }
}
div.row.bottom .text h2 {
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 26px;
  color: #ffffff;
}
div.row.bottom .text h2 span {
  font-weight: 300;
}
@media (max-width: 767px) {
  div.row.bottom .text h2 {
    margin-top: 45px;
  }
}
div.row.bottom .text h3 {
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
}
@media (max-width: 767px) {
  div.row.bottom .text h3 {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 35px;
  }
}
div.row.bottom .text p {
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
  text-align: justify;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}
@media (max-width: 767px) {
  div.row.bottom .text p {
    text-align: center;
    width: 95%;
    margin: 0 auto;
  }
}
#base {
  -webkit-box-shadow: 0px -2px 15px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px -2px 15px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0px -2px 15px 0 rgba(0, 0, 0, 0.2);
  background: url(../img/forme1.png) no-repeat;
  background-size: 1920px auto;
  background-position: center bottom;
  padding-top: 20px;
}
@media (max-width: 767px) {
  #base {
    background: url(../img/forme_640px.png) no-repeat;
    background-size: 772px auto;
    background-position: center bottom;
  }
}
#base .up {
  margin-bottom: 140px;
}
#base .up h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: #00529c;
  margin-bottom: 40px;
}
#base .button-group {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}
@media (max-width: 767px) {
  #base .button-group {
    width: 210px;
  }
  #base .button-group span {
    display: block;
  }
}
#base .logo.grand {
  position: relative;
}
@media (max-width: 767px) {
  #base .logo.grand {
    position: static;
  }
}
#base .bottom {
  padding-bottom: 30px;
  margin-bottom: 22px;
}
@media (max-width: 767px) {
  #base .text {
    text-align: center;
  }
}
#info {
  position: relative;
  margin-top: 50px;
  margin-bottom: 100px;
}
@media (max-width: 767px) {
  #info {
    margin-top: 10px;
    margin-bottom: 40px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #info div.right.col-sm-7.champ {
    width: 63%;
  }
}
#info div.left div.title {
  margin-bottom: 30px;
}
#info div.left div.title h1 {
  line-height: 26px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: #00529c;
  margin-top: 0px;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  #info div.left div.title h1 {
    display: inline-block;
    width: 50%;
    position: relative;
    top: 20px;
  }
}
@media (max-width: 399px) {
  #info div.left div.title h1 {
    font-size: 26px !important;
  }
}
#info div.left div.title div.dossier {
  width: 243px;
  height: auto;
  position: relative;
  right: 33px;
}
@media (max-width: 767px) {
  #info div.left div.title div.dossier {
    width: 139px;
    height: 139px;
    display: inline-block;
    left: 34px;
    top: 10px;
  }
}
#info div.left div.title div.dossier img {
  width: 100%;
  height: auto;
}
#info h3.heading3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #00529c;
  margin-top: 0px;
  margin-bottom: 5px;
}
#info p.text {
  line-height: 20px;
  margin-top: 0px;
  text-align: justify;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #555555;
}
#info p.text a.link.bleu {
  font-weight: 300;
  text-decoration: underline;
}
#info p.text.confirm {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #00529c;
}
#info ol.text {
  padding-left: 19px;
  margin-bottom: 0px;
  margin-top: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #555555;
}
#info ol.text li {
  margin-bottom: 7px;
}
#info ol.text a.link.bleu {
  font-weight: 300;
  text-decoration: underline;
}
#info aside.document h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #00529c;
  margin-top: 0px;
  margin-bottom: 5px;
}
#info aside.document ul {
  margin-top: 0px;
  padding-left: 0px;
}
#info aside.document ul li {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #555555;
  display: block;
  margin-bottom: 3px;
  margin-right: 0px;
}
#info aside.document ul li a img {
  position: relative;
  bottom: 2px;
  margin-right: 10px;
}
#info aside.document ul li a:hover {
  text-decoration: underline;
}
.form-group {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #555555;
}
.form-group label {
  font-weight: 300;
  margin-bottom: 10px;
}
.form-group .form-control {
  width: 100%;
}
@media (min-width: 992px) {
  .form-group .form-control {
    width: 93%;
  }
}
.form-group .form-control.ligne {
  width: 100%;
}
.form-group.right {
  position: relative;
}
@media (min-width: 992px) {
  .form-group.right {
    left: 23px;
  }
}
.form-group textarea {
  width: 609px;
  height: 181px;
  resize: none;
}
@media (min-width: 768px) and (max-width: 991px) {
  .form-group textarea {
    width: 379px;
  }
}
@media (max-width: 767px) {
  .form-group textarea {
    width: 299px;
  }
}
.submit {
  text-align: left;
}
@media (min-width: 992px) {
  .submit {
    text-align: right;
  }
}
.submit input {
  margin-top: 10px;
}
#contact .logo {
  position: relative;
  top: 30px;
}
@media (max-width: 767px) {
  #contact .logo {
    margin-bottom: 50px;
  }
}
.radio label {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #555555;
}
.icons {
  margin: 0;
}
.icons li {
  cursor: pointer;
  padding-bottom: 10px;
  margin-right: 60px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .icons li {
    margin-right: 12px;
  }
}
@media (max-width: 767px) {
  .icons li {
    margin-right: 5px;
  }
}
.icons li .support {
  height: 76px;
  width: auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .icons li .support {
    height: 59px;
  }
}
@media (max-width: 767px) {
  .icons li .support {
    height: 56px;
  }
}
.icons li.lolCloudIconsActive {
  border-bottom: 4px solid #00529C;
}
.thumb {
  margin: 0px;
  padding: 0px;
}
.thumb li {
  margin-right: 0px;
}
.thumb img {
  border: 1px solid #cacaca;
  border-radius: 10px;
}
.col-divide-7 {
  width: 13.75259%;
}
@media (max-width: 767px) {
  .col-divide-7 {
    width: 13.218%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .col-divide-7 {
    width: 13.370%;
  }
}
.col-divide-5 {
  width: 19.502%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .col-divide-5 {
    width: 19.147%;
  }
}
@media (max-width: 767px) {
  .col-divide-5 {
    width: 19.00%;
  }
}
section.index > .row {
  margin-top: 150px;
}
@media (max-width: 767px) {
  section.index > .row {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  section.index .row:nth-child(3) {
    text-align: center;
  }
}
@media (max-width: 767px) {
  #dropdown a.link.bleu {
    font-size: 19px !important;
  }
}
#mockup {
  display: inline-block;
  float: left;
}
@media (min-width: 768px) and (max-width: 991px) {
  #mockup {
    top: 75px;
  }
}
@media (max-width: 399px) {
  #mockup {
    text-align: center;
  }
}
#mockup img {
  height: auto;
}
@media (max-width: 767px) {
  #mockup img {
    width: 286px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #mockup img {
    width: 218px;
  }
}
@media (min-width: 992px) {
  #mockup img {
    width: 437px;
  }
}
@media (min-width: 768px) {
  #mockup + div {
    left: 20%;
  }
}
.button-group {
  margin-top: 25px;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .button-group {
    text-align: center;
    width: 170px;
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
  }
}
.button-group span {
  margin-left: 12px;
  margin-right: 12px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #555555;
}
#more {
  margin-left: 23%;
}
@media (min-width: 768px) and (max-width: 991px) {
  #more {
    margin-left: 25%;
  }
}
@media (max-width: 767px) {
  #more {
    margin-left: 0%;
  }
}
nav.textFooter {
  margin-top: 14px;
  margin-bottom: 14px;
  float: right;
  text-align: right;
}
#slider {
  background: url(../img/Homepage/Slider_image.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 555px;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
@media (min-width: 768px) and (max-width: 991px) {
  #slider {
    background: url(../img/Homepage/slider_640px.jpg) no-repeat;
    height: 280px;
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 767px) {
  #slider {
    background: url(../img/Homepage/slider_320px.jpg) no-repeat;
    height: 261px;
    background-size: cover;
    background-position: center;
  }
}
#slider div {
  line-height: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: #ffffff;
}
@media (min-width: 768px) and (max-width: 991px) {
  #slider div {
    line-height: 40px;
    font-size: 33px;
    font-weight: 600;
  }
}
@media (max-width: 767px) {
  #slider div {
    line-height: 36px;
    font-size: 26px;
    font-weight: 600;
  }
}
#slider div span {
  font-weight: 300;
}
@media (min-width: 768px) and (max-width: 991px) {
  #slider div span {
    font-weight: 400;
  }
}
#slider a.link {
  font-size: 20px !important;
  margin-top: 5px;
  -webkit-opacity: 1 !important;
  -moz-opacity: 1 !important;
  opacity: 1 !important;
}
@media (min-width: 768px) and (max-width: 991px) {
  #slider a.link {
    font-size: 18px !important;
    font-weight: 600;
  }
}
@media (max-width: 767px) {
  #slider a.link {
    font-size: 16px !important;
    font-weight: 600;
  }
}
#background {
  height: 1250px;
  background: url(../img/Homepage/LOL_Cloud_Details_Homepage_960px.png) no-repeat;
  background-size: 1920px auto;
  background-position: center bottom;
}
@media (min-width: 768px) and (max-width: 991px) {
  #background {
    height: 1110px;
    background: url(../img/Homepage/LOL_Cloud_Details_Homepage_640px.png) no-repeat;
    background-size: 992px auto;
    background-position: center bottom;
  }
}
@media (max-width: 767px) {
  #background {
    height: 1230px;
    background: url(../img/Homepage/LOL_Cloud_Details_Homepage_320px_1.png) no-repeat;
    background-size: 772px auto;
    background-position: center bottom;
  }
}
#background .top {
  text-align: center;
}
#background .top h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: #00529c;
}
@media (max-width: 767px) {
  #background .top h2 {
    font-size: 24px;
    width: 78%;
    margin-right: auto;
    margin-left: auto;
  }
}
#background .top p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #555555;
}
#background .top p span {
  color: #00529c;
}
@media (min-width: 768px) and (max-width: 991px) {
  #background .top p {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  #background .top p {
    font-size: 16px;
  }
}
#background .middle {
  top: 40px;
  position: relative;
}
@media (min-width: 992px) {
  #background .middle {
    width: 82%;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  #background .middle {
    top: 30px;
    text-align: center;
  }
}
#background .middle h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: #00529c;
  margin-top: 20px;
  margin-bottom: 10px;
}
#background .middle p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #555555;
  width: 80%;
  text-align: justify;
}
@media (max-width: 767px) {
  #background .middle p {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
}
#background .middle p span {
  color: #00529c;
}
#background .middle .link {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #00529c;
}
#background .middle .link span {
  position: relative;
  bottom: -2px;
  left: 10px;
}
#background .bottom {
  position: relative;
}
@media (min-width: 992px) {
  #background .bottom {
    top: 650px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #background .bottom {
    top: 510px;
  }
}
@media (max-width: 767px) {
  #background .bottom {
    text-align: center;
    top: 356px;
  }
}
#background .image {
  text-align: right;
  padding-top: 7%;
  float: right;
  right: 0%;
}
/*# sourceMappingURL=styles.css.map */