/* Gobal variiables*/

//Responsive

@desktop:   ~"(min-width: 992px)";
@tablet:    ~"(min-width: 768px) and (max-width: 991px)";
@phone:    ~"(max-width: 767px)";

//Couleurs

@bleu: #00529c;
@dark-bleu:#03417a;
@gris: #555555;
@light-gris: #d0d0d0;
@blanc: #ffffff;

//Size

@size-ban1: 30px;
@size-ban2: 20px;
@size-heading1: 35px;
@size-heading2: 26px;
@size-heading3: 20px;
@size-text: 16px;
@size-foot: 14tpx;

